header{
    background-color: greenyellow;
    padding: 20px 0;
}
ul{
    /*箇条書きの.を削除*/
    list-style: none;
     /*liたちを横並びにする*/
    display: flex;
     /*隙間を作る*/
     gap: 0 10px;
     /*右*/
     justify-content: end;
}
.last{
    margin-right: 30px;
}
.blog-contents{
    display: flex;
    width: 90%;
    gap: 0 20px;
    justify-content:center ;
    margin: 0 auto;
}
.blog{
    width: 30%;
}
img{
    width: 100%;
}